ul {
  padding: 0;
  list-style: none;
}

div.red {
	background-color: #EFA2A1;
}

div.green {
	background-color: #C7EFA1;
}

div.blue {
	background-color: #A1C7EF;
}

div.yellow {
	background-color: #EEEFA1;
}

div.purple {
	background-color: #C9A1EF;
}